div.sketch-picker {
    margin: 0px !important;
    position: absolute;
    z-index: 5;
}

.outside-alerter {
    width: min-content;
}

.color-input {
    width: 55px;
}

input.color-input:focus {
    outline-width: 0;
}

.color-picker-input {
    position: relative;
    display: inline-block;
}