div.sketch-picker {
    margin: 0px !important;
}

.outside-alerter {
    width: min-content;
    float:left;
}

.color-input {
    width: 55px;
    float:left;
}

input.color-input:focus {
    outline-width: 0;
}
