.css-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.css-modal-popup {
    height: auto !important;
    width: 350px !important;
}

.css-modal-button {
    font-size: 20px !important;
    width: 130px;
    height: 60px;
    margin: 10px 10px 0px 0px;
    padding: 0px;
    color: white;
    background-color: #E0A738;
}

.css-modal-top-bar {
    display: inline;
}

#css-modal-back-button {
    cursor: pointer;
    padding-left: 20px;
    text-align: center;
    width: min-content;
    font-size: 30px !important;
    display: inline-block !important;
}

.css-modal-category-header {
    text-align: center;
    display: inline-block;
    width: 240px;
}

.modal-buttons-container {
    text-align: center;
}

.css-input-title {
    margin-right: 10px;
    font-size: 20px;
}

.css-select {
    color: black;
}