.featured-projects-list {
    height: 250px;
    background-color: rgb(241, 240, 240);
    border-radius: 10px;
    border: 1px solid rgb(182, 182, 182);
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
}

.featured-project-in-list {
    white-space: normal;
    height: 100%;
    width: 180px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 20px 0px 20px;
  }

  .project-creator {
      color: black;
      font-size: 16px;
      text-align: center;
      font-style: italic;
  }

  .featured-main-content {
    padding: 30px;
    color: #169C94;
    font-size: 20pt;
  }