@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Dancing+Script:400,700|Fontdiner+Swanky|Gloria+Hallelujah|Permanent+Marker|Roboto+Condensed:400,700|Special+Elite');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  width: 100%;
}

.arrow_box {
	position: relative;
  background: #196AB5;
}
.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(25, 106, 181, 0);
	border-bottom-color: #196AB5;
	border-width: 20px;
	margin-left: -20px;
}

.welcomebox {
  background-color: #196AB5;
  border-radius: 5%;
  padding: 20px;
  color: white;
  width: 350px;
  height: 230px;
  margin: 0;
  position: absolute;
  top: 130px;
  right: 58px;
}

.login-group {
  display: inline-block;
}

.signupbox {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

h1 {
  font-size: 32pt;
}

.box-link a, .box-link a:hover {
  color:white;
  text-decoration: underline;
  font-size: 10pt;
}

.btn:active, .btn:hover, .btn:focus {
  color: white !important;
}

.btn:hover {
  filter: brightness(90%);
}

.black-text {
  color: rgb(40,40,40);
  margin-top: 5px;
  font-style: italic;
}

.green-button {
  font-size: 20px;
  background-color: #30B04C;
  border-radius: 15%;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: 0;
  outline: 0 !important;
}
.orange-button {
  font-size: 20px;
  background-color: #F07E2B;
  border-radius: 15%;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: 0;
  outline: 0 !important;
}
.yellow-button {
  font-size: 20px;
  background-color: #E0A738;
  border-radius: 15%;
  margin: 5px 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: 0;
  outline: 0 !important;
}
.red-button {
  font-size: 20px;
  background-color: #ED3B3B;
  border-radius: 15%;
  margin: 5px 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: 0;
  outline: 0 !important;
}
input {
  color: black;
}

.error {
  display: inline-block;
  font-size: 16pt;
  color: #E0A738;
}

body > div > .signin-page {
  background-image: url('img/signup.png');
  background-size: cover;
  
}
body > div > .login-page {
  background-image: url('img/login.png');
  background-size: cover;
}

.header {
  background-color: #196AB5;
  left: 0;
  top: 0;
  padding: 10px;
}
.title {
  font-family: 'Fontdiner Swanky', cursive;
  letter-spacing: 0.1em;
}
.navbar-title {
  font-size: 30pt;
  color: white;
  margin-left: 50px;
}
.disable-select {
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-welcome {
  padding-top: 15px;
  color: white;
  font-size: 20px;
  margin-right: 50px;
}

.profile-picture {
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 175px;
  height: 175px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0;
}

.profile-picture-hover {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  line-height: 175px;
  text-align: center;
  background-color: rgba(0,0,0,0.50);
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.main-content {
  padding: 30px;
  color: #169C94;
  font-size: 20pt;
}

.profile-and-awards > div {
  float: left;
}

.profile-and-awards {
  height: 200px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 0px;
}

.profile-name {
  display: inline-block;
  padding-left: 40px;
}

.projects-list {
  background-color: rgb(241, 240, 240);
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgb(182, 182, 182);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;

  overflow: auto;
    white-space: nowrap;
}

.project-in-list {
  height: 100%;
  width: 180px;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.project-square {
  background-color: rgb(211, 209, 209);
  height: 120px;
  width: 180px;
  padding: 0px;
}
.project-title {
  color:#F07E2B;
  text-align: center;
}

.half-width {
  width: 46%;
  height: min-content;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.draggable-space {
  min-height: 200px;
  max-height: calc(100vh - 140px);
  background-color: #F4f4f4; 
  overflow: scroll;
}

html, body{
  height:100%;
}

.grey-text {
  color: rgb(180,180,180);
}

/* The boxes on left side, span, div, etc. */
.brick {
  padding: 0px 12px 0px 12px;
  border: 1px solid rgba(0,0,0,0.2);
  color: white;
  font-size: 16pt;
  background-color: grey;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  border-radius: 15px;
}

.brick:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary-brick {
  background-color: #196AB5;
}

.secondary-brick {
  background-color: #30B04C;
}

.third-brick {
  background-color: #B44CD9;
}


/* bootstrap's dark red looks bad on our blue theme, hard to read */
.text-danger {
  color: red;
}



/*Change this to some other class*/
/*Change this to some other class*/
ul.layout-block {
  list-style-type: none;
  margin-left: -10px;
  font-size: 14pt;
  cursor: pointer;
  width: min-content;
}

li.layout-block  {
  font-size: 16px;
  color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  width: 200px;
}

.editor-project-style {
  display: inline;
}

.editor-text-content {
  border-radius: 5px;
} 

#mobile-view {
  text-align: center;
  font-size: 33px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #196AB5;
  margin: 0px;
  margin-top: 30px;
  overflow: hidden;
}


/*For testing layout builder*/
.red {
    background-color: darkred;
    opacity: 0.8;
    margin-left: 30px;
}
.purp {
  background-color: purple;
  opacity: 0.8;
  margin-left: 30px;
}
.yel {
  color: yellow;
}
.pressed-brick {
  color: orange;
  outline: 3px solid orange;
}

.tag-block-span {
  width: 190px;
  height: 30px;
  line-height: 40px;
}


.short-text-box {
  width: 50px;
  color: black;
  margin: 2px;
  text-align: center;
}
/*.short-text-box:hover {
  outline: 3px solid yellow;
}*/

.editor-text-expanded {
  overflow-y: scroll;
  height: 100px;
  min-width: 190px;
  max-width: 190px;
  min-height: 30px;
}

.hidden {
  height: 0;
  width: 0;
}
textarea {
  color: black;
}
.edit-text-button {
  border-radius: 5px;
  width: 60px;
  padding: 3px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
}

.btn-success {
  background-color: #E0A738 !important;
}

.drop-slot {
  min-height: 10px;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.drop-slot-hover {
  margin-left: 28px;
  min-height: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 7px 3px rgba(255,255,255,1);
  box-shadow: 0px 0px 7px 3px rgba(255,255,255,1);
  margin-top: 2px;
  margin-bottom: 2px;

}

.drop-slot-space {
  line-height: 15px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #E0A738;
}

.bad-style, .error-count > div {
  background-color: yellow;
  color: black;
  border-radius: 5px;
  padding-left: 4px;
  margin-right: 8px;
}
.bad-style-block, .error-count {
  border: 2px double red;
  background-color: darkred;
}
.bricks-panel {
  margin-left: 60%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.text-expanded-container {
  position: relative;
  left: 35px;
  background-color: rgb(48,176,76, 0.8);
}

td {
  display: inline-block;
  padding: 0px;
  height: 154px;
}

.block-choices-category-column {
  padding-left: 15px;
  width: 200px;
}

.locked-editor {
  pointer-events: none;
}
/* * > .locked-editor {
  cursor: not-allowed;
} */
.loading-message {
  font-size: 24px;
  border: 3px solid white;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
  position: fixed;
  right: 50px;
}
.error-count {
  color: red;
  font-size: 26px;
  padding: 6px;
  margin: 10px;
  padding-right: 0;
  position: fixed;
  right: 50px;
}

/*Message that appears in a block*/
.block-message {
  color: red;
  font-size: 48pt;
  position: absolute;
}

.edit-img {
  height: 40px;
  position: relative;
  left: 140px;
  opacity: 1;
  z-index: 1;
}

.edit-img-hidden {
  opacity: 0;
}


.start-tag {
  width: 50px !important;
  display: inline-block;
}